body {
  max-width: 320px;
  margin: auto;
  background-image: url(../img/SVG/mure-noir-brique.jpg);
  padding-left: 5px;
  padding-right: 5px;
}

main {
  background-color: #dcd0f8;
  padding-bottom: 45px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: #FF06E1;
  display: flex;
  padding-left: 8px;
  padding-right: 15px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  z-index: auto;
  position: absolute;
  text-shadow: 3px 3px rgb(104, 1, 53);
  padding-top: 0px;
}

h3 {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Rubik', sans-serif;
  padding-top: 35px;
  font-style: italic;
}

p {
  font-family: 'Rubik', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

h2{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: xx-large;
  padding-left: 15px;
}

.navigation {
  display: flex;
  flex-direction: row;
  color: #0000A9;
  font-family: 'Rubik', sans-serif;
  font-size: small;
}

.navigation-block{
  background-color: #67FF00;
  display: flex;
  flex-wrap: wrap;
  transform: rotate(5deg);
  position: absolute;
}

header {
  background-image: url(../img/SVG/mure-noir-brique.jpg);
  border-style: double;
  color: #E5E5FF;
}

.green-attach {
  display: block;
  width: 60%;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 10px;
}

.first-tilte-festival {
  display: flex;
  color: #FF06E1;
  padding-top: 75px;
}

.warning {
  font-size: small;
}

.black-skeleton {
  width: 30%;
  padding-left: 170px;
}

.text-right {
  padding-left: 105px;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 50px;
}

h4 {
  padding-left: 15px;
  font-family: 'Rubik', sans-serif;
}

.text-left {
  padding-right: 67px;
  padding-bottom: 20px;
  font-family: 'Rubik', sans-serif;
}

.title-tage, 
.skate-title {
  color: #67FF00;
  padding-top: 75px;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px 
  rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(5, 4, 2), 0 0 1px 
  rgb(5, 4, 4), 0 0 1px rgb(3, 2, 2), 0 0 2px rgb(1, 1, 1), 0 0 1px 
  rgb(3, 2, 2), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(1, 0, 0), 0 0 2px 
  rgb(1, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(4, 3, 2), 0 0 1px 
  rgb(0, 0, 0), 0 0 2px rgb(4, 4, 4), 0 0 1px rgb(0, 0, 0), 0 0 1px 
  rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0);
}

.big-sam {
  color: #4603FF;
  padding-top: 75px;
}

.skate-time {
  padding-bottom: 12px;
}

.music-title {
  color: #FF06E1;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.music-part {
  background-image: url(../img/SVG/mure-noir-brique.jpg);
  color: white;
  padding: 0px;
  border-style: double;
  color: #E5E5FF;
}

.music-skeleton {
  width: 30%;
  padding-left: 205px;
  padding-top: 15px;
  padding-bottom: 75px;
}

.paint-heart-glasses {
  padding-bottom: 45px;
}

ul li {
  font-family: 'Rubik', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
}

.skate-bones {
  width: 45%;
  padding-left: 170px;
}

.bones {
  width: 40%;
  padding-left: 170px;
  padding-bottom: 40px;
}

.warning {
  padding-bottom: 95px;
}

.burger-paint {
  width: 50%;
  padding-left: 15px;
  padding-bottom: 15px;
}

.food-tilte {
  color: #4603FF;
}

.contact {
  color: #67FF00;
}

footer {
  background-image: url(../img/SVG/mure-noir-brique.jpg);
  color: white;
  padding: 25px;
  border-style: double;
  color: #E5E5FF;
}

.big-j {
  z-index: auto;
  width: 300px;
  position: absolute;
  padding-top: 220px;
  padding-left: 12px;
}

.text-key-j {
  padding-top: 100px;
  font-family: 'Rubik', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.photo-sam {
  width: 70%;
  padding-left: 15px;
  z-index: auto;
  padding-top: 20px;
}

.pink-line {
  padding-top: 10px;
} 

.last-pink-line {
  border-width: 5px;
  color: #FF06E1;
}

.pink-line {
  padding-top: 10px;
} 

.last-pink-line {
  border-width: 5px;
  color: #FF06E1;
}

.last-pink-line {
  transform: rotate(4deg);
  padding-top: 25px;
}
