body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  padding-left: 5px;
  padding-right: 5px;
}

main {
  background-color: #E5E5FF;
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: #FF06E1;
  display: flex;
  width: 50%;
  padding-left: 15px;
}

.navigation {
  color: #0000A9;
}

.navigation-block{
  background-color: #67FF00;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-image: url(../img/SVG/mure-noir-brique.jpg);
}

.green-attach {
  display: block;
  width: 60%;
  margin-left: auto;
  padding-left: 15px;
}

.first-tilte-festival {
  display: flex;
  justify-content: center;
  color: #FF06E1;
  padding-top: 75px;
  z-index: 2;
}

.black-skeleton {
  width: 40%;
  padding-left: 170px;
}

.text-right {
  padding-left: 105px;
}

.text-left {
  padding-right: 90px;
  padding-bottom: 15px;
}

.title-tage {
  color: #67FF00;
  padding-top: 75px;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px 
  rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(5, 4, 2), 0 0 1px 
  rgb(5, 4, 4), 0 0 1px rgb(3, 2, 2), 0 0 2px rgb(1, 1, 1), 0 0 1px 
  rgb(3, 2, 2), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(1, 0, 0), 0 0 2px 
  rgb(1, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(4, 3, 2), 0 0 1px 
  rgb(0, 0, 0), 0 0 2px rgb(4, 4, 4), 0 0 1px rgb(0, 0, 0), 0 0 1px 
  rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0);
}

.big-sam {
  color: #4603FF;
  padding-top: 75px;
}

.skate-title {
  color: #67FF00;
  padding-top: 75px;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px 
  rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(5, 4, 2), 0 0 1px 
  rgb(5, 4, 4), 0 0 1px rgb(3, 2, 2), 0 0 2px rgb(1, 1, 1), 0 0 1px 
  rgb(3, 2, 2), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(1, 0, 0), 0 0 2px 
  rgb(1, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(4, 3, 2), 0 0 1px 
  rgb(0, 0, 0), 0 0 2px rgb(4, 4, 4), 0 0 1px rgb(0, 0, 0), 0 0 1px 
  rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0);
}

.music-title {
  color: #FF06E1;
}

.music-part {
  background-image: url(../img/SVG/mure-noir-brique.jpg);
  color: white;
  padding: 0px;
}

.music-skeleton {
  width: 30%;
  padding-left: 205px;
  padding-top: 15px;
  padding-bottom: 75px;
}

.skate-bones {
  width: 45%;
  padding-left: 170px;
}

.bones {
  width: 40%;
  padding-left: 170px;
  padding-bottom: 40px;
}

.warning {
  padding-bottom: 95px;
}

.burger-paint {
  width: 60%;
}

.food-tilte {
  color: #4603FF;
}

.contact {
  color: #67FF00;
}

footer {
  background-image: url(../img/SVG/mure-noir-brique.jpg);
  color: white;
  padding: 25px;
}